In [1]:
import numpy as np

In [ ]:
names = ["mohammad", "ali", "reza", "hasan"]
age = [20, 18, 22, 24]
cities = ["tehran", "mashhad", "tabriz", "shiraz"]

In [8]:
pattern = [("name","U50"),("age","i4"),("city","U50")]

In [ ]:
my_array = np.zeros((5),dtype=pattern)
my_array

array([('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')],
      dtype=[('name', '<U50'), ('age', '<i4'), ('city', '<U50')])

In [15]:
my_array[0]=("mohammad",20,"tehran")
my_array

array([('mohammad', 20, 'tehran'), ('',  0, ''), ('',  0, ''),
       ('',  0, ''), ('',  0, '')],
      dtype=[('name', '<U50'), ('age', '<i4'), ('city', '<U50')])

In [16]:
my_array[3]=("ali",18,"mashhad")
my_array

array([('mohammad', 20, 'tehran'), ('',  0, ''), ('',  0, ''),
       ('ali', 18, 'mashhad'), ('',  0, '')],
      dtype=[('name', '<U50'), ('age', '<i4'), ('city', '<U50')])

In [18]:
my_array["age"]

array([20,  0,  0, 18,  0])

In [19]:
my_3D_array = np.zeros((2,3,4),dtype=pattern)
my_3D_array

array([[[('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')],
        [('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')],
        [('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')]],

       [[('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')],
        [('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')],
        [('', 0, ''), ('', 0, ''), ('', 0, ''), ('', 0, '')]]],
      dtype=[('name', '<U50'), ('age', '<i4'), ('city', '<U50')])

In [20]:
my_3D_array[1,0,3]=("reza", 20, "Tabriz")
my_3D_array

array([[[('',  0, ''), ('',  0, ''), ('',  0, ''), ('',  0, '')],
        [('',  0, ''), ('',  0, ''), ('',  0, ''), ('',  0, '')],
        [('',  0, ''), ('',  0, ''), ('',  0, ''), ('',  0, '')]],

       [[('',  0, ''), ('',  0, ''), ('',  0, ''),
         ('reza', 20, 'Tabriz')],
        [('',  0, ''), ('',  0, ''), ('',  0, ''), ('',  0, '')],
        [('',  0, ''), ('',  0, ''), ('',  0, ''), ('',  0, '')]]],
      dtype=[('name', '<U50'), ('age', '<i4'), ('city', '<U50')])

In [21]:
my_record_array=np.rec.array([("ali",18,"mashhad"),("reza", 20, "Tabriz")],dtype=pattern)
my_record_array

rec.array([('ali', 18, 'mashhad'), ('reza', 20, 'Tabriz')],
          dtype=[('name', '<U50'), ('age', '<i4'), ('city', '<U50')])

In [25]:
my_record_array.age

array([18, 20])