In [1]:
import numpy as np

In [2]:
first_array = np.arange(1,25).reshape(2,3,4)
first_array

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [3]:
second_array = first_array
second_array

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [4]:
first_array == second_array

array([[[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]],

       [[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]]])

In [5]:
first_array is second_array

True

In [6]:
id(first_array)

2372966081776

In [7]:
id(second_array)

2372966081776

In [9]:
first_array[1,1,1]=100
first_array

array([[[  1,   2,   3,   4],
        [  5,   6,   7,   8],
        [  9,  10,  11,  12]],

       [[ 13,  14,  15,  16],
        [ 17, 100,  19,  20],
        [ 21,  22,  23,  24]]])

In [10]:
second_array

array([[[  1,   2,   3,   4],
        [  5,   6,   7,   8],
        [  9,  10,  11,  12]],

       [[ 13,  14,  15,  16],
        [ 17, 100,  19,  20],
        [ 21,  22,  23,  24]]])

In [11]:
second_array[0,1,1]=20
second_array

array([[[  1,   2,   3,   4],
        [  5,  20,   7,   8],
        [  9,  10,  11,  12]],

       [[ 13,  14,  15,  16],
        [ 17, 100,  19,  20],
        [ 21,  22,  23,  24]]])

In [12]:
first_array

array([[[  1,   2,   3,   4],
        [  5,  20,   7,   8],
        [  9,  10,  11,  12]],

       [[ 13,  14,  15,  16],
        [ 17, 100,  19,  20],
        [ 21,  22,  23,  24]]])

In [14]:
third_array = first_array.view()
third_array

array([[[  1,   2,   3,   4],
        [  5,  20,   7,   8],
        [  9,  10,  11,  12]],

       [[ 13,  14,  15,  16],
        [ 17, 100,  19,  20],
        [ 21,  22,  23,  24]]])

In [15]:
third_array == first_array

array([[[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]],

       [[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]]])

In [16]:
third_array is first_array

False

In [17]:
id(first_array),id(third_array)

(2372966081776, 2372966670256)

In [18]:
first_array[0,0,0]=54
first_array

array([[[ 54,   2,   3,   4],
        [  5,  20,   7,   8],
        [  9,  10,  11,  12]],

       [[ 13,  14,  15,  16],
        [ 17, 100,  19,  20],
        [ 21,  22,  23,  24]]])

In [19]:
third_array

array([[[ 54,   2,   3,   4],
        [  5,  20,   7,   8],
        [  9,  10,  11,  12]],

       [[ 13,  14,  15,  16],
        [ 17, 100,  19,  20],
        [ 21,  22,  23,  24]]])

In [20]:
forth_array = np.copy(first_array)
forth_array

array([[[ 54,   2,   3,   4],
        [  5,  20,   7,   8],
        [  9,  10,  11,  12]],

       [[ 13,  14,  15,  16],
        [ 17, 100,  19,  20],
        [ 21,  22,  23,  24]]])

In [21]:
forth_array == first_array

array([[[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]],

       [[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]]])

In [22]:
forth_array[0,0,1]=8
forth_array

array([[[ 54,   8,   3,   4],
        [  5,  20,   7,   8],
        [  9,  10,  11,  12]],

       [[ 13,  14,  15,  16],
        [ 17, 100,  19,  20],
        [ 21,  22,  23,  24]]])

In [23]:
first_array

array([[[ 54,   2,   3,   4],
        [  5,  20,   7,   8],
        [  9,  10,  11,  12]],

       [[ 13,  14,  15,  16],
        [ 17, 100,  19,  20],
        [ 21,  22,  23,  24]]])