In [1]:
import numpy as np

In [2]:
my_array = np.arange(24)
my_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [3]:
my_array.shape = (2,3,4)
my_array

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [5]:
reshape_array = my_array.reshape((2,12))
reshape_array

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]])

In [6]:
my_array

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [7]:
reshape_array[0,0]=1234
reshape_array

array([[1234,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
          11],
       [  12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
          23]])

In [8]:
my_array

array([[[1234,    1,    2,    3],
        [   4,    5,    6,    7],
        [   8,    9,   10,   11]],

       [[  12,   13,   14,   15],
        [  16,   17,   18,   19],
        [  20,   21,   22,   23]]])

In [9]:
my_array is reshape_array

False

In [10]:
ravel_array = np.ravel(my_array)
ravel_array

array([1234,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
         11,   12,   13,   14,   15,   16,   17,   18,   19,   20,   21,
         22,   23])

In [14]:
flatten_array = my_array.flatten()
flatten_array

array([1234,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
         11,   12,   13,   14,   15,   16,   17,   18,   19,   20,   21,
         22,   23])

In [15]:
ravel_array[2]=150
ravel_array

array([1234,    1,  150,    3,    4,    5,    6,    7,    8,    9,   10,
         11,   12,   13,   14,   15,   16,   17,   18,   19,   20,   21,
         22,   23])

In [16]:
my_array

array([[[1234,    1,  150,    3],
        [   4,    5,    6,    7],
        [   8,    9,   10,   11]],

       [[  12,   13,   14,   15],
        [  16,   17,   18,   19],
        [  20,   21,   22,   23]]])

In [17]:
my_array is ravel_array

False

In [18]:
flatten_array[1]=250
flatten_array

array([1234,  250,    2,    3,    4,    5,    6,    7,    8,    9,   10,
         11,   12,   13,   14,   15,   16,   17,   18,   19,   20,   21,
         22,   23])

In [19]:
my_array

array([[[1234,    1,  150,    3],
        [   4,    5,    6,    7],
        [   8,    9,   10,   11]],

       [[  12,   13,   14,   15],
        [  16,   17,   18,   19],
        [  20,   21,   22,   23]]])

In [20]:
flat_array = my_array.flat
flat_array

In [21]:
flat_array = list(my_array.flat)
flat_array

[1234,
 1,
 150,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23]

In [24]:
my_array.shape = (4,6)
my_array[0,0]=0
my_array[0,1]=1
my_array[0,2]=2
my_array

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [25]:
my_3D_array = np.arange(24).reshape((2,3,4))
my_3D_array

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [26]:
np.fliplr(my_array)

array([[ 5,  4,  3,  2,  1,  0],
       [11, 10,  9,  8,  7,  6],
       [17, 16, 15, 14, 13, 12],
       [23, 22, 21, 20, 19, 18]])

In [27]:
np.fliplr(my_3D_array)

array([[[ 8,  9, 10, 11],
        [ 4,  5,  6,  7],
        [ 0,  1,  2,  3]],

       [[20, 21, 22, 23],
        [16, 17, 18, 19],
        [12, 13, 14, 15]]])

In [28]:
np.flipud(my_array)

array([[18, 19, 20, 21, 22, 23],
       [12, 13, 14, 15, 16, 17],
       [ 6,  7,  8,  9, 10, 11],
       [ 0,  1,  2,  3,  4,  5]])

In [29]:
np.flipud(my_3D_array)

array([[[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]],

       [[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]]])

In [30]:
np.roll(my_array,2)

array([[22, 23,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21]])

In [32]:
np.roll(my_array,-5)

array([[ 5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22],
       [23,  0,  1,  2,  3,  4]])

In [33]:
np.roll(my_3D_array,5)

array([[[19, 20, 21, 22],
        [23,  0,  1,  2],
        [ 3,  4,  5,  6]],

       [[ 7,  8,  9, 10],
        [11, 12, 13, 14],
        [15, 16, 17, 18]]])

In [34]:
my_array

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [35]:
np.rot90(my_array)

array([[ 5, 11, 17, 23],
       [ 4, 10, 16, 22],
       [ 3,  9, 15, 21],
       [ 2,  8, 14, 20],
       [ 1,  7, 13, 19],
       [ 0,  6, 12, 18]])

In [36]:
np.rot90(my_array,k=-1)

array([[18, 12,  6,  0],
       [19, 13,  7,  1],
       [20, 14,  8,  2],
       [21, 15,  9,  3],
       [22, 16, 10,  4],
       [23, 17, 11,  5]])

In [37]:
np.rot90(my_3D_array)

array([[[ 8,  9, 10, 11],
        [20, 21, 22, 23]],

       [[ 4,  5,  6,  7],
        [16, 17, 18, 19]],

       [[ 0,  1,  2,  3],
        [12, 13, 14, 15]]])